*.session
*.session-journal
*.db
*.db-journal
*.sqlite
*.sqlite-journal
*.table
*.log
/data/
__pycache__
.*.swp
*.dot
*.edgelist*
*.graphml
*.graph*
*.gexf
*.gml
*.konec
*.lfr
*.metis
*.networkitBinary
*.png
*.pdf
*.snap
!menu.png